<% if @my_manuscripts.any? %>
  <% @my_manuscripts.each do |manuscript| %>
    <h2><%= link_to manuscript.title, manuscript_path(manuscript) %></h2>
    <p><%= manuscript.author %></p>
    <p><%= manuscript.journal %></p>
    <p>User ID: <%= manuscript.user_id %></p>
    <p>VP Research Approval: <%= transform_boolean_value_to_yes_or_no(manuscript.vpr_approval) %></p>
    <p>KTI Approval: <%= transform_boolean_value_to_yes_or_no(manuscript.kti_approval) %></p>
    <!-- <%= button_to "Download", manuscript.document.url %> -->
    <%= link_to "Download", manuscript.document.url %>

    <h3>Approvals</h3>
    <% if manuscript.approvals.any? %>
      <ul>
        <% manuscript.approvals.each do |approval| %>
          <li>
            <p>Approved: <%= approval.approved %></p>
            <p><%= approval.comments %></p>
          </li>
        <% end %>
      <% else %>
        <p>No approvals are on file yet.</p>
      <% end %>
  <% end %>
<% else %>
  <p>No manuscripts added yet</p>
<% end %>

<%= link_to 'Add a manuscript', new_manuscript_path %>

<% if can? :manage, @approval %>

  <% if current_user.vpr_admin? %>
    <% if @manuscripts_for_vpr_approval.any? %>
      <h2>Manuscripts Awaiting VP Research Approval</h2>
      <% @manuscripts_for_vpr_approval.each do |manuscript| %>
        <p><%= link_to manuscript.title, manuscript_path(manuscript) %></p>
    <% end %>
    <% else %>
      <p>There are no manuscripts for approval</p>
    <% end %>
  <% end %>

  <% if current_user.kti_admin? %>
    <% if @manuscripts_for_kti_approval.any? %>
      <h2>Manuscripts Awaiting KTI Approval</h2>
      <% @manuscripts_for_kti_approval.each do |manuscript| %>
        <p><%= link_to manuscript.title, manuscript_path(manuscript) %></p>
    <% end %>
    <% else %>
      <p>There are no manuscripts for approval</p>
    <% end %>
  <% end %>

<% end %>
