<% if @manuscripts.any? %>
  <% @manuscripts.each do |manuscript| %>
    <h2><%= link_to manuscript.title, manuscript_path(manuscript) %></h2>
    <p><%= manuscript.author %></p>
    <p><%= manuscript.journal %></p>
    <p>User ID: <%= manuscript.user_id %></p>
    <h3>Approvals</h3>
    <% if manuscript.approvals.any? %>
      <ul>
        <% manuscript.approvals.each do |approval| %>
          <li>
            <p>Approved: <%= approval.approved %></p>
            <p><%= approval.comments %></p>
          </li>
        <% end %>
      <% else %>
        <p>No approvals are on file yet.</p>
      <% end %>
  <% end %>
<% else %>
  <p>No manuscripts added yet</p>
<% end %>

<%= link_to 'Add a manuscript', new_manuscript_path %>
